<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  


      <div class="row">
        <form action='/predict' method="post" class="col s12">
          <ul style="list-style:none">

              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question3" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question3" value="0"><span>No</span></label></li>
              </ul>
            </li>
            <li>
              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question4" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question4" value="0"><span>No</span></label></li>
              </ul>
            </li>
            <li>
              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question5" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question5" value="0"><span>No</span></label></li>
              </ul>
            </li>
            <li>
              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question6" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question6" value="0"><span>No</span></label></li>
              </ul>
            </li>
            <li>
              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question7" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question7" value="0"><span>No</span></label></li>
              </ul>
            </li>
            <li>
              <h4>How many letters are there in "A"?</h4>
              <ul class="choices" style="list-style:none">
                <li><label><input type="radio" name="question8" value="1"><span>Yes</span></label></li>
                <li><label><input type="radio" name="question8" value="0"><span>No</span></label></li>
              </ul>
            </li>
          </ul>
<!--          <div class="row">-->
<!--            <div class="input-field col s4">-->
<!--              <label for="first_field"> <input name="1" type="radio" /> ZEROTH FIELD</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="input-field col s4">-->
<!--              <label for="first_field"> <input name="3" type="radio" /> FIRST FIELD</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="input-field col s4">-->
<!--              <label for="first_field"> <input name="2" type="radio" /> SECOND FIELD</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class=" col s4">-->
<!--              <input name="4" type="radio" />-->
<!--              <label for="first_field">  THIRD FIELD</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="input-field col s4">-->
<!--              <label for="first_field"> <input name="5" type="radio" /> FOURTH FIELD</label>-->
<!--            </div>-->
<!--          </div>-->
  <!--        <div class="input-field col s4">-->
  <!--            <label for="first_name"><b>Temperature</b></label>-->
  <!--            <br>-->
  <!--          <input placeholder="Temperature in Celsius" name="Temperature" id="first_name" type="text" class="validate">-->
  <!--        </div>-->
  <!--        <div class="input-field col s4">-->
  
  <!--          <label for="last_name"><b>Oxygen </b></label>-->
  <!--            <br>-->
  <!--          <input id="last_name" name="Oxygen" placeholder="Oxygen content in ppm"  type="text" class="validate">-->
  
  <!--        </div>-->
  
  <!--        <div class="input-field col s4">-->
  <!--            <label for="_name"><b>Humidity</b></label>-->
  <!--            <br>-->
  <!--          <input id="_name" name="Humidity" placeholder="Humidity %" type="text" class="validate">-->
  
  <!--        </div>-->

      

        <div class="row center">
  
            <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
        </div>
      </form></div>

      <br>
        {{pred}}<br>

    </div>
  </div>


    <br><br>
  </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

